*.o
*.swp
*~

.deps/
.vscode/
.idea/
build/
src/wisp
autogen.log
autoscan.log
autom4te.cache
config.cache
config.h
config.log
config.status
configure.scan
test-results.txt
test-failures.txt
libtool
stamp-*
Makefile

